name: Run data update

on:
  workflow_dispatch:
  workflow_call:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 
        with:
          fetch-depth: 1 # otherwise, there would be errors pushing refs to the destination repository.
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Setup Spack # Spack is not yet pip installable, so we must install via the actions
        uses: spack/setup-spack@v3
        with:
          spack_ref: v1.1.1
          buildcache: false
          color: false
          spack_path: spack